<%= form_for(@present, class: 'form-horizontal', role: 'form') do |f| %>
            <div class="container-sindan">
                <div class="row">
                    <div class="col-12">
                        <p>Question1. シチュエーションは？</p>
                    </div>
                    <div class="col-6">
                        <p><%= f.check_box :question, {multiple: true}, "1", nil %>誕生日</p>
                    </div>
                    <div class="col-6">
                        <p><%= f.check_box :question, {multiple: true}, "2", nil %>記念日</p>
                    </div>
                    <div class="col-6">
                        <p><%= f.check_box :question, {multiple: true}, "3", nil %>お礼（母の日／父の日含む）</p>
                    </div>

                    <div class="col-12">
                        <p>Question2. 自分と相手の関係性は？</p>
                    </div>
                    <div class="col-6">
                        <p><%= f.check_box :question, {multiple: true}, "1", nil %>友人</p>
                    </div>
                    <div class="col-6">
                        <p><%= f.check_box :question, {multiple: true}, "2", nil %>恋人</p>
                    </div>
                    <div class="col-6">
                        <p><%= f.check_box :question, {multiple: true}, "3", nil %>家族</p>
                    </div>

                    <div class="col-12">
                        <p>Question3. 相手の好みは？</p>
                    </div>
                    <div class="col-6">
                        <p><%= f.check_box :question, {multiple: true}, "1", nil %>シンプルで実用性重視</p>
                    </div>
                    <div class="col-6">
                        <p><%= f.check_box :question, {multiple: true}, "2", nil %>トレンドを抑えたもの</p>
                    </div>
                    <div class="col-6">
                        <p><%= f.check_box :question, {multiple: true}, "3", nil %>唯一無二の個性派！</p>
                    </div>
                </div>
            </div>
            <div class="sindanbotan">
                <%= f.submit "post" %>
            </div>
<% end %>
