<%= stylesheet_link_tag 'presents_new', :media => "all" %>
<h1> </h1>
<%= form_for(@present, html: { class: 'form-horizontal gift-diagnosis-form', role: 'form' }) do |f| %>
            <div class="container-sindan">
                <div class="row">
                    <div class="col-12">
                        <h4>Question1. シチュエーションは？</h4>
                    </div>
                    <div class="col-6">
                        <p><%= f.check_box :question, {multiple: true}, "1", nil %>誕生日</p>
                    </div>
                    <div class="col-6">
                        <p><%= f.check_box :question, {multiple: true}, "2", nil %>記念日</p>
                    </div>
                    <div class="col-6">
                        <p><%= f.check_box :question, {multiple: true}, "3", nil %>お礼（母の日／父の日含む）</p>
                    </div>

                    <div class="col-12">
                        <h4>Question2. 自分と相手の関係性は？</h4>
                    </div>
                    <div class="col-6">
                        <p><%= f.check_box :question, {multiple: true}, "1", nil %>友人</p>
                    </div>
                    <div class="col-6">
                        <p><%= f.check_box :question, {multiple: true}, "2", nil %>恋人</p>
                    </div>
                    <div class="col-6">
                        <p><%= f.check_box :question, {multiple: true}, "3", nil %>家族</p>
                    </div>

                    <div class="col-12">
                        <h4>Question3. 相手のイメージは？</h4>
                    </div>
                    <div class="col-6">
                        <p><%= f.check_box :question, {multiple: true}, "1", nil %>実用性重視の現実主義</p>
                    </div>
                    <div class="col-6">
                        <p><%= f.check_box :question, {multiple: true}, "2", nil %>おしゃれなロマンチスト</p>
                    </div>
                    <div class="col-6">
                        <p><%= f.check_box :question, {multiple: true}, "3", nil %>唯一無二の個性派！</p>
                    </div>
                </div>
            </div>
            <div class="sindanbotan">
                <%= f.submit "診断" %>
            </div>
<% end %>
<h1> </h1>