<%= stylesheet_link_tag 'searches_index', :media => "all" %>

<%= form_tag({controller: "tweets", action: "index"}, method: :get, class: "search-form") do %>
  <!-- キーワード入力 -->
<%= text_field_tag :tag, nil, placeholder: "キーワードを入力", class: "search-input" %><br><br>

  <!-- 既存タグチェックボックス -->
  <div class="tag-checkboxes">
    <% Tag.all.each do |t| %>
      <label>
        <%= check_box_tag "tag_ids[]", t.name %>
        <%= t.name %>
      </label><br>
    <% end %>
  </div>

  <!-- 検索ボタン -->
  <%= submit_tag "検索", class: "search-submit" %>
<% end %>

<%= button_to 'ログアウト', destroy_user_session_path, method: :delete %>